html {
    font-family: system-ui;
}

.header-a {
    display:flex;
    font-size: 30px;
    justify-content: space-between;
}

.header-a-box {
    border: solid;
    padding: 5px 30px 5px;
    margin: 10px;
}

.header-b {
    border-top: solid;
    border-bottom: solid;
}

.header-b-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    border-top: solid;
    border-bottom: solid;
    font-size: 30px;
    margin: 10px 0px 10px;
}

a {
    text-decoration: none; /*Elimino el subrayado*/
}

.header-c {
    border:solid;
    font-weight: 450;
    font-size: 55px;
    margin: 10px 0px 10px;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.subconteiner {
    width: 950px;
    margin-top: 0px;
}

.social-media {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px 0px;
}

.social-media-icons {
    display: flex;
    align-items: center;
    /* width: 200px; */
}

ion-icon {
    font-size: 20px;
    color: black;
    outline: solid;
    margin: 5px;

}

button {
    padding: 4px 10px 4px;
    margin: 3px;
}

.image {
    /* background-color: aqua; */
    outline: solid;
    width: 950px;
    height: 250px;
}

.t {
    margin: 0px;
    font-size: 30px;
}

.text-2 {
    text-align: center;
}

.further-reading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: solid;
}

.further-reading-column {

}

.further-reading-title {
    font-size: 30px;
}

.further-reading-list {
    list-style-type: '-';
    font-size: 30px;
}

footer {
    margin-top: 35px;
    margin-bottom: 70px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-img {
    border: solid;
}

.footer-list {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 500px;
    }

.footer-list-element {
    /* flex-grow: 1; */
}
